body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.game-container {
    position: relative;
    text-align: center;
}

canvas {
    border: 2px solid #000;
}
info {
    margin-top: 20px;
}
.info span {
    margin: 0 10px;
}
